{% extends 'base.html' %}

{% block content %}
    <form class="form" method="POST">
        {% csrf_token %}

        {% for field in form %}
            <div class="mb-3">
                <label class="form-label text-start">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}

        <button id="button" class="btn btn-primary" type="submit">Submit</button>
    </form>

    {% if errors %}
    <div class="alert alert-danger my-5">
        {{errors}}
    </div>
    {% endif %}

{% endblock %}